<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">{{apt.address}}</h1>

    <button class="button button-icon icon"
            ng-class="favorited ? 'ion-ios-star' : 'ion-ios-star-outline'"
            ng-click="toggleFavorite()">
    </button>

    <button class="button button-icon icon ion-ios-close-empty"
            ng-click="closeModal()">
    </button>
  </ion-header-bar>

  <ion-content>

    <ion-item ng-if="apt.description" ng-bind-html="apt.description"></ion-item>

    <ion-item ng-if="!apt.description">
      <img class="full-image" ng-src="{{apt.image_path}}">
      <div><b>Address: </b><a href="{{mapsUrl}}">{{apt.address}}</a></div>
      <div><b>Monthly Rent: </b>{{apt.monthly_rent_avg | rent}}</div>
    </ion-item>

    <ion-item>
      <ui-gmap-google-map center="map.center" zoom="14">
        <ui-gmap-markers models="map.markers" coords="'self'" icon="'icon'">
        </ui-gmap-markers>
      </ui-gmap-google-map>
      <a href="{{mapsUrl}}">
        <button class="button button-block button-positive">Open in Maps</button>
      </a>
    </ion-item>

  </ion-content>
</ion-modal-view>
