<style>
.angular-google-map-container { height: 400px; }
</style>
<ion-view>
  <ion-nav-title>{{apt.address}}</ion-nav-title>

  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon"
      ng-class="favorited ? 'ion-ios-star' : 'ion-ios-star-outline'"
      ng-click="toggleFavorite()"
      >
    </button>
  </ion-nav-buttons>

  <ion-content>
    <ion-item>
      <img class="full-image" src="http://lorempixel.com/400/400/city">

      <div><b>Address: </b><a href="{{apt.mapsUrl}}">{{apt.address}}</a></div>
      <div><b>Monthly Rent: </b>{{apt.monthly_rent_avg | currency}}</div>
      <div><b>Total Views: </b>{{apt.number_of_views}}</div>
    </ion-item>

    <ion-item>
      <ui-gmap-google-map center="map.center" zoom="15">
        <ui-gmap-markers models="map.markers" coords="'self'" icon="'icon'">
        </ui-gmap-markers>
      </ui-gmap-google-map>
    </ion-item>

  </ion-content>

</ion-view>
