<div>
  <label>Rent: {{filter.rent | currency}}</label>
  <input type="range" min="0" max="5000" step="100"
  ng-model="filter.rent">
</div>

<div>
  <label>Flooring: </label>
  <select ng-model="filter.flooring">
    <option value="hardwood">Hardwood</option>
    <option value="tile">Tile</option>
  </select>
</div>

<div>
  <label>Max distance from campus: {{filter.distance}} m</label>
  <input type="range" min="0" max="5000" step="100"
  ng-model="filter.distance">
</div>

<div>
  <label>Bedrooms: {{filter.bed}}</label>
  <input type="range" min="0" max="5" step="1"
  ng-model="filter.bed">
</div>

<div>
  <label>Bathrooms: {{filter.bath}}</label>
  <input type="range" min="0" max="5" step="1"
  ng-model="filter.bath">
</div>
