<div class="search">

  <div>
    <label>Rent: </label>
    <select ng-model="filter.rent">
      <option ng-repeat="range in ranges.rent track by $index"
              value="{{range}}">
      {{range.text}}
      </option>
    </select>
  </div>

  <div>
    <label>Distance to campus: </label>
    <select ng-model="filter.distance">
      <option ng-repeat="range in ranges.distance track by $index"
              value="{{range}}">
      {{range.text}}
      </option>
    </select>
  </div>

  <div>
    <label>Bedrooms: {{filter.bed}}</label>
    <input type="range" min="0" max="5" step="1"
    ng-model="filter.bed">
  </div>

  <div>
    <label>Bathrooms: {{filter.bath}}</label>
    <input type="range" min="0" max="5" step="1"
    ng-model="filter.bath">
  </div>

</div>
