<ion-view view-title="Apartments">

  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-search"
      ng-click="search()">
    </button>
  </ion-nav-buttons>


  <ion-content>

    <ion-list>
      <!--<ion-item class="item item-thumbnail-left" ng-repeat="apt in apts"
        ng-click="goto('tab.list-detail', {id: apt.id})">-->
      <ion-item class="item item-thumbnail-left" ng-repeat="apt in apts"
        ng-click="openModal(apt)">
        <img ng-src="{{apt.thumbnail}}">
        <h2>{{apt.address}}</h2>
        <p>Rent: {{apt.monthly_rent_avg | currency}}</p>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll ng-if="morePages"
       on-infinite="loadMore()" distance="10%" immediate-check="true">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
