<ion-view class ="list_apartment" view-title="Apartments">

  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-settings"
      ng-click="search()">
    </button>
  </ion-nav-buttons>

  <ion-content>
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input ng-model="searchText" type="text" placeholder="Search...">
    </label>

    <ion-list>
      <ion-item class="item"
                ng-repeat="apt in apts |
                           orderBy:'distance_to_campus' |
                           SearchFilter:filter |
                           filter:searchText |
                           limitTo:aptLimit
                           track by $index"
                ng-click="openModal(apt)">

        <img ng-src="{{apt.images.med}}">
        <h2>{{apt.address}}</h2>
        <div class="info">
            <p>Rent: {{apt.monthly_rent_avg | rent}}</p>
        </div>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll ng-if="morePages"
       on-infinite="loadMore()" distance="0%" immediate-check="false">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
