<div class="search">

  <div ng-repeat="(type, range) in ranges"
    ng-init="filter[type] = {from: range.min, to:range.max}; f = filter[type]">
    <label>{{range.text}}: {{f.from | round}} - {{f.to | round}}</label>
    <range-slider ng-model="f" throttle="50"
        step="range.step" min="range.min" max="range.max">
    </range-slider>
  </div>

  <button class="button button-outline button-small button-block button-dark"
          ng-click="$parent.filter={}">
    Clear Filters
  </button>

</div>
