<ion-nav-bar class="bar-positive">
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>

<ion-tabs class="tabs-icon-top tabs-positive">

  <ion-tab title="Featured" ng-click="goto('tab.featured')"
    icon-off="ion-stats-bars" icon-on="ion-stats-bars">
    <ion-nav-view name="tab-featured"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Apartments" ng-click="goto('tab.list')"
    icon-off="ion-ios-home-outline" icon-on="ion-ios-home">
    <ion-nav-view name="tab-list"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Favorites" ng-click="goto('tab.favorites')"
    icon-off="ion-ios-star-outline" icon-on="ion-ios-star">
    <ion-nav-view name="tab-favorites"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Map" ng-click="goto('tab.map')"
    icon-off="ion-ios-location-outline" icon-on="ion-ios-location">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>

</ion-tabs>
