# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
resources/android/
resources/ios/
app.min.css
*.swp
.DS_Store

node.d.ts
